@import url('https://fonts.googleapis.com/css2?family=Manrope');

.headerContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 1em 0em;
}

.backIcon{
    object-fit: cover;
    align-items:left;
}

.title {
    font-family: 'manrope'
}