.links a {
    text-decoration:none;
    color:var(--primary-black);
}

.links {
    display:flex;
    flex-direction:column;
}

.open {
    background-color: var(--primary-light-spice);
    align-items:right;
}

.open:hover {
    cursor:pointer;
}

.container {
    background-color:var(--primary-beige);
}
