.detailsField{
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--white);
    font-family: Manrope;
}

.count{
    text-align: right;
    margin-bottom: 0px;
}
