:root {

  /*Colours*/
  --black: #000;
  --white: #fff;
  --grey: #ada8b6;
  --offWhite: #ffeedb;
  --darkPurple: #4c3b4d;
  --maroon: #a53860;
  --ocean: #61c9a8;
  --darkBlue: #0000E7;
  --yellow: #e8cd82;
}

