@import url('https://fonts.googleapis.com/css2?family=Manrope');

.main{
  width: 100%;
  display: flex;
  align-items:center;
  flex-direction: column; 
  font-family: 'manrope', sans-serif;
}

.welcomeMsg {
  line-height:1em;
  text-align:center;
  width:100%;
}

.achivementButtons {
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttons:hover {
  cursor:pointer;
}

.achievementButtons button {
  background-color:var(--primary-light-blue);
  width:8em;
  height:10em;
  font-family:'manrope', sans-serif;
  border-radius:15px;
  margin:0.5em;
  border:none;
}

.fulfillmentNum {
  font-weight:800;
}