@import url('https://fonts.googleapis.com/css2?family=Manrope');

.main{
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-family: 'manrope', sans-serif;
}

.welcomeMsg {
  line-height:1em;
  text-align:center;
  width:100%;
}

.achivementButtons {
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttons {
  width:10em;
  height:20em;
  font-family:'manrope', sans-serif;
}

.fulfillmentNum {
  font-weight:800;
}