.button {
    display: flex;
    justify-content: center;
}

.whenField {
    width: 100%;
    border: 1px solid black;
    height: 30px;
    border-radius: 10px;
    background-color: var(--white);
}

.carousel{
    display: flex;
    flex-direction: row;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
}

