.main{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.whenField {
    width: 100%;
    border: 1px solid black;
    height: 30px;
    border-radius: 10px;
    background-color: var(--white);
}


.carousel{
    display: flex;
    flex-direction: row;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
}


.successContainer{
    border: 5px solid var(--primary-charcoal);
    background-color: var(--primary-white);
    padding: 1em;
    border-radius: 10px;
    position: absolute;
    top: 26%;
    z-index: 1;
    margin-right: 20px;
}

.successContainer > h1{
    text-align: center;
}
