.line {
    color: black;
    height: 1rem;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main h4:hover {
    cursor:pointer;
}

.header {
    font-size: var(--primary-h2-font);
    font-weight: bold;
} 

